<html>
    <title>{{pagetitle}}</title>
    <body>
        {{> header }}
        <p>{{pagetitle}}</p>
        <p>About Page</p>
        <p>{{getCurrentYear}}</p>
        <p>{{> footer}}</p>
    </body>
</html>